---
layout: default
title: Portfolio
permalink: /projects/
---

<h1>My Latest Projects</h1>

{% for project in site.projects %}
{% assign even = forloop.index0 | modulo: 2 %}
<div class = "post-preview">
	<strong><a href = "{{ project.url }}">{{ project.title }}</a></strong>
	{% if project.tags contains "wip" %}
	&ndash; <span style = "color: red;">Work in Progress</span>
	{% endif %}
    {% if project.date %}
    &ndash; Release date: {{ project.date | date: "%Y-%m-%d" }}
    {% endif %}
    {% if project.update %}
    &ndash; Last updated on {{ project.update | date: "%Y-%m-%d" }}
    {% endif %}
</div>

{% if project.thumbnail %}

<a href = "{{ project.url }}"><img src = "{{ project.thumbnail }}" class = "float-{% if even == 0 %}left{% else %}right{% endif %}" /></a>

{% endif %}

{{ project.excerpt }}

{% if project.systems %}
<p>
	Systems: {{ project.systems | join: " &bullet; " }}
</p>
{% endif %}

<p>
	Tags: {{ project.tags | join: " &bullet; " | remove: " &bullet; wip" | replace: "_", " " }}
</p>

{% endfor %}
