<!-- Standard footer, per default layout -->
<div id = "fortune">
	<p>
		<!-- This comment line means the fortune cookie script is
		broken. -->
        	Life wouldn't seem tragic were it not also beautiful.
	</p>
</div>

<p style = "text-align: center;">
	<small>This website is maintained by Philip Pavlick.
	<br />
	All content on this website is available in the public domain unless
	otherwise specified.
	<br />
	Hosted by GitHub Pages</small>
</p>
<!-- End standard footer -->
